.header {
  max-width: 880px;
  max-height: 74px;
  margin: 45px auto 40px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 80%;
    max-height: 54px;
    margin: 28px auto 42px auto;
  }
}

@media screen and (max-width: 500px) {
  .header {
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}